<div>
  <div class="client-info-container">
    <mat-list role="list">
      <mat-list-item role="listitem"><span class="client-label">Client Name:</span> <span class="client-detail">{{clientList.name}}</span></mat-list-item>
      <mat-list-item role="listitem"><span class="client-label">Client Description:</span><span class="client-detail"> {{clientList.description}}</span></mat-list-item>
      <mat-list-item role="listitem"><span class="client-label">Client Activation Status:</span><span class="client-detail"> {{clientList.isExisting}}</span></mat-list-item>
    </mat-list>
  </div>
</div>