<mat-toolbar color="primary"></mat-toolbar>
<mat-toolbar class="breadcrumb-toolbar">

</mat-toolbar>
<div class="col-md-12">
  <div class="col-md-8">
    <p class="clearfix"></p>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>User Type</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a routerLink="../type/dev">Developers</a></td>
            <td>3</td>
          </tr>
          <tr>
            <td><a routerLink="../type/manage">Managers</a></td>
            <td>2</td>
          </tr>
          <tr>
            <td><a  routerLink="../type/hr">HR</a></td>
            <td>1</td>
          </tr>
          <tr>
            <td>Finance</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
