<div class="col-lg-6 strip-wrapper">
  <div class="item" (click)="addElement('ss')">
    <div>
        <i class="fa fa-align-center"></i>
    </div>
    <div>
        Add Sub Section
    </div>
  </div>
  <div class="item" (click)="addElement('table')">
      <div>
          <i class="fa fa-table"></i>
      </div>
      <div>
          Table
      </div>
  </div>
  <div class="item" (click)="addElement('fields')">
      <div>
          <i class="fa fa-file"></i>
      </div>
      <div>
          Fields
      </div>
  </div>
  <div class="item" (click)="addElement('omr')">
      <div>
          <i class="fa fa-barcode"></i>
      </div>
      <div>
          OMR Fields
      </div>
  </div>
  <div class="item" (click)="addElement('freetext')">
      <div>
          <i class="fa fa-archive"></i>
      </div>
      <div>
          Free Text
      </div>
  </div>
</div>